# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Build artifacts
build/
dist/

# PyInstaller cache
*.spec.cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
